DB_HOST=localhost
DB_USER=root
DB_PASSWORD=SUA_SENHA_DO_MYSQL
DB_NAME=capabilidade_ws
DB_PORT=3306
PORT=3004

APP_ADMIN_PASSWORD=1234
SESSION_SECRET=troque-esta-chave-por-uma-frase-grande
ADMIN_USER=admin
ADMIN_PASSWORD=1234
ADMIN_NAME=Administrador
